.btnmain{
    padding: 13px 32px;
    border: 5px solid $green-cl;
    border-radius: 100px;
    @include text(20px,rum,52px,$white-cl,capitalize);
    @include transition($t);
    &:hover{
        @include transition($t);
        background: $blue-cl;
    }
}

.pd{
    padding: 100px 0px;
}

.textbox{
    .heading{
        @include text(52px,rum,48px,$black-cl,capitalize);
        margin-bottom: 18px;
    }
    .para{
        @include text(18px,dr,26px,$black-cl,capitalize);
    }
    .line{
        display: flex;
        align-items: center;
        flex: 1;
        span{
            display: flex;
            justify-content: center;
            width: 30px;
            height: 1px;
            background: #b2b2b2;
            position: relative;
           &::after{
            content: "";
            width: 50px;
            height: 1px;
            background: #b2b2b2;
            position: absolute;
            bottom: -5px;
           }
           &::before{
            content: "";
            width: 50px;
            height: 1px;
            background: #b2b2b2;
            position: absolute;
            bottom: 5px;
           }
        }
        &::after{
            content: "";
            display: block;
            height: 1px;
            flex: 1;
            background: #b2b2b2;
            margin-left: 32px;
           }
           &::before{
            content: "";
            display: block;
            height: 1px;
            flex: 1;
            background: #b2b2b2;
            margin-right: 32px;
           }
    }
}
.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .line{
        display: flex;
        align-items: center;
        flex: 1;
        span{
            display: flex;
            justify-content: center;
            width: 30px;
            height: 1px;
            background: #b2b2b2;
            position: relative;
           &::after{
            content: "";
            width: 50px;
            height: 1px;
            background: #b2b2b2;
            position: absolute;
            bottom: -5px;
           }
           &::before{
            content: "";
            width: 50px;
            height: 1px;
            background: #b2b2b2;
            position: absolute;
            bottom: 5px;
           }
        }
        &::after{
            content: "";
            display: block;
            height: 1px;
            flex: 1;
            background: #b2b2b2;
            margin-left: 32px;
           }
           &::before{
            content: "";
            display: block;
            height: 1px;
            flex: 1;
            background: #b2b2b2;
            margin-right: 32px;
           }
    }
}
