.hero{
    position: relative;
    --heigh-header:150px;
    &__banner{
        overflow: hidden;
        height: calc(100vh - var(--heigh-header));
        &-bg{
            height: 100%;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__textbox{
        @include mid($flex:false);
        width: 100%;
        text-align: center;
        .heading{
            @include  text(70px,db,48px,$white-cl,normal);
            margin-bottom: 15px
        }
        .dsc{
            @include  text(30px,dr,52px,$white-cl,normal);
            margin-bottom: 30px
        }
        .btnmain{
            margin-top: 30px;
            width: max-content;
        }
    }
}
.service{
    .textbox{
        margin-bottom: 55px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2s,1fr);
        grid-gap: 30px;
        &-item{
            cursor: pointer;
            position: relative;
            .img{
               overflow: hidden;
               border-top-left-radius: 10px;
               border-top-right-radius: 10px;
               width: 100%;
               height: 100%;
               max-height: 250px;
               img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                max-width: 100%;
                transform:scale(1);
                @include transition($t);
               }
              
            }
            .title{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 280px;
                height: 75px;
                padding-top: 20px;
                padding-bottom: 38px;
                background: $white-cl;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @include transition($t);
                .name{
                   
                    @include text(20px,rum,30px,$black-cl,normal);
                }
                .half-circle{
                    position: absolute;
                    bottom: 0px;
                    width: 56px;
                    height: 28px;
                    background:$white-cl;
                    @include transition($t);
                    border-top-left-radius: 100px;
                    border-top-right-radius: 100px;
                    display: none;
                    @include visible($param:0);
                    padding-top: 12px;
                    justify-content:center;
                    align-items: flex-start;
                    .icon{
                     }

                }
            }
            &:hover img{
                transform:scale(1.1);
                @include transition($t);
            }
            &:hover  .half-circle{
                display: flex;
                @include visible($param:1);
                @include transition($t);
            }
            &:hover .title{
                background: $green-cl;
                @include transition($t);
            }
            &:hover .name{
                color: $white-cl;
            }
        }
    }
}
.welcome{
    padding-top: 35px;
    background:#f7f7f7 ;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textbox{
            max-width: 600px;
            .heading{
                margin-bottom: 30px;
            }
            >.para{
              margin-bottom: 20px;  
            }
            .btnread{
                margin-right: 5px;
                @include text(20px,db,normal,$green-cl,capitalize);
                .icon{
                    padding-left: 5px;
                    @include transition($t);
                }
                &:hover .icon{
                    padding-left: 20px;
                    @include transition($t);
                }
            }
        }
    }

}