.hero{
    position: relative;
    --heigh-header:150px;
    &__banner{
        overflow: hidden;
        height: calc(100vh - var(--heigh-header));
        &-bg{
            height: 100%;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__textbox{
        @include mid($flex:false);
        width: 100%;
        text-align: center;
        .heading{
            @include  text(70px,db,48px,$white-cl,normal);
            margin-bottom: 15px
        }
        .dsc{
            @include  text(30px,dr,52px,$white-cl,normal);
            margin-bottom: 30px
        }
        .btnmain{
            margin-top: 30px;
            width: max-content;
        }
    }
}
.service{
    .textbox{
        margin-bottom: 55px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2s,1fr);
        grid-gap: 30px;
        &-item{
            cursor: pointer;
            position: relative;
            .img{
               overflow: hidden;
               border-top-left-radius: 10px;
               border-top-right-radius: 10px;
               width: 100%;
               height: 100%;
               max-height: 250px;
               img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                max-width: 100%;
                transform:scale(1);
                @include transition($t);
               }
              
            }
            .title{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 280px;
                height: 75px;
                padding-top: 20px;
                padding-bottom: 38px;
                background: $white-cl;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @include transition($t);
                .name{
                   
                    @include text(20px,rum,30px,$black-cl,normal);
                }
                .half-circle{
                    position: absolute;
                    bottom: 0px;
                    width: 56px;
                    height: 28px;
                    background:$white-cl;
                    @include transition($t);
                    border-top-left-radius: 100px;
                    border-top-right-radius: 100px;
                    display: none;
                    @include visible($param:0);
                    padding-top: 12px;
                    justify-content:center;
                    align-items: flex-start;
                    .icon{
                     }

                }
            }
            &:hover img{
                transform:scale(1.1);
                @include transition($t);
            }
            &:hover  .half-circle{
                display: flex;
                @include visible($param:1);
                @include transition($t);
            }
            &:hover .title{
                background: $green-cl;
                @include transition($t);
            }
            &:hover .name{
                color: $white-cl;
            }
        }
    }
}
.welcome{
    padding-top: 35px;
    background:#f7f7f7 ;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textbox{
            max-width: 600px;
            .heading{
                margin-bottom: 30px;
            }
            >.para{
              margin-bottom: 20px;  
            }
            .btnread{
                margin-right: 5px;
                @include text(20px,db,normal,$green-cl,capitalize);
                .icon{
                    padding-left: 5px;
                    @include transition($t);
                }
                &:hover .icon{
                    padding-left: 20px;
                    @include transition($t);
                }
            }
        }
    }

}
.galery{
    .textbox{
        display: flex ;
        justify-content: space-between;
        margin-bottom: 60px;
        .btnmain{
            color: black;
            padding: 16px 43px;
            line-height: normal;
        }
    }
    &__album{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 30px;
        .item{
            position: relative;
            cursor: pointer;
            max-width: 367px;
            height: 300px;
            .img{
               height: 100%;
               width: 100%;
               position: relative;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transform: scale(1);
                    @include transition($t);
                }
            }
            .btnzoom{
                .eyes{
                    @include mid($flex:false);
                    z-index: 100;
                    @include visible($param:0);
                }
                &::after{
                    content: "";
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    background: $black-cl;
                    display: none;
                    @include mid($flex:false);
                    opacity: 0.5;
                }
            }
           
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3){
                box-sizing: border-box;
                    height: 380px;
                    .img{
                        height: 100%;
                    }
            }
            &:nth-child(1){
                padding-left: 70px;
                padding-top: 80px;
                box-sizing: border-box;
                .eyes{
                    
                }
            }
            &:nth-child(3){
                padding-right: 70px;
                padding-top: 80px;
            }
           &:hover{
            @include transition($t);
            .img{
                img{
                    @include transition($t);
                    transform: scale(1.1);
                }
            }
            .btnzoom{
                .eyes{
                    @include visible($param:1);
                }
                &::after{
                    display: block;
                }
            }
           }
        }
    }
}
.team{
    background: $gray-ss-cl;
    .textbox{
        margin-bottom: 56px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,1fr);
        gap: 30px;
        &-member{
            border: 2px solid transparent;
            @include transition($t);
            .img{
                height: 325px;
                overflow: hidden;
                cursor: pointer;
                img{
                    width: 101%;
                    height: 101%;
                    object-fit: cover;
                    transform: scale(1.0);
                    @include transition($t);
                }
            }
            .info{
                cursor: pointer;
                padding: 25px 20px;
                @include transition($t);
                text-align: center;
                .name{
                    @include text(21px,db,22px,$black-cl,capitalize);
                    margin-bottom: 7px;
                }
                .regency{
                    @include text(15px,dr,22px,$black-cl,capitalize);

                }
            }
            &:hover{
                border: 2px solid $green-cl;
                @include transition($t);
                .img{
                    img{
                        transform: scale(1.1);
                         @include transition($t);
                    }
                }
                .info{
                    background: $white-cl;
                    @include transition($t);
                }
            }
        }
    }
}
.why{
  
   &__chart{
    margin-top: 105px;
    &-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 107px;
        .option{
            &:nth-child(1){
                position: relative;
                .circle{
                    &::after{
                        width: 100px;
                        height: 1px;
                        border-style: dashed;
                        border-color: $green-cl;
                        display: block;
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
    }
    &-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .option{
            flex-direction: row-reverse;
            .circle{
                margin-right: initial;
                margin-left: 17px;
            }
            .textbox{
                text-align: right;
            }
        }
    }
   }
}